.App {
  text-align: center;
  min-width: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html {
  height: 100%;
}
